<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--WebSocket配置，需要在Spring MVC中配置，如果配置在Spring中将存在异常-->
    <import resource="spring-websocket.xml"/>

    <!--controller注解支持-->
    <context:component-scan base-package="com.flyingideal.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <mvc:annotation-driven>
        <!-- 解决Response返回中文乱码 -->
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--使用Spring提供的CORS进行跨域请求处理-->
    <mvc:cors>
        <mvc:mapping path="/**"
                     allowed-origins="*"
                     allowed-methods="GET, PUT, POST"
        />
    </mvc:cors>

    <!-- 使用interceptor进行跨域请求处理
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.flyingideal.interceptor.CORSInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    -->

    <mvc:default-servlet-handler/>

    <!--SpringMVC上传文件需要MultipartResolver处理器-->
    <!--CommonsMultipartResolver使用commons Fileupload来处理multipart请求，需要额外的jar包
        Spring还提供了一个StandardServletMultipartResolver来处理multipart请求，但是基于Servlet 3.0的，需要容器支持Servlet 3.0-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 指定所上传文件的总大小不能超过200KB。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="200000"/>
    </bean>

    <!-- SpringMVC在超出上传文件限制时，会抛出org.springframework.web.multipart.MaxUploadSizeExceededException -->
    <!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的，而且此时还没有进入到Controller方法中 -->
    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <!-- 遇到MaxUploadSizeExceededException异常时，自动跳转到error页面 -->
                <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">login.html</prop>
            </props>
        </property>
    </bean>

</beans>