<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyingideal.dao.BlurredPasswordMapper">
    <select id="getReletedSubject" parameterType="String" resultType="String">
        SELECT subject FROM blurredpassword WHERE subject LIKE '%${_parameter}%'
    </select>

    <select id="getBlurredPassword" parameterType="String" resultType="blurredPassword">
        SELECT id, subject, username, password, description FROM blurredpassword WHERE subject = #{_parameter}
    </select>


    <insert id="addBlurredPassword" parameterType="blurredPassword">
        INSERT INTO blurredpassword(subject, password, description)
          VALUES (#{subject}, #{password}, #{description})
    </insert>
</mapper>